@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Todo List</h1>
    <p>
        Your need account to create and edit own list
    </p>
</div>
